@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/* font-family: 'Open Sans', sans-serif; */

:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
  --fw-large: 700;
  font-size: 16px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: var(--Very-Dark-Cyan);
}
/* removed decoration from all anchor tags */
a {
  text-decoration: none;
}
p + a,
h1 + a {
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  padding: 1.4em 4em;
  border-radius: 40px;
  margin: 1rem 0 4rem 0;
  box-shadow: 0px 5px 10px rgba(141, 141, 141, 0.3),
    0px 1px 5px rgba(128, 128, 128, 0.2);
  font-size: 0.9rem;
  font-weight: 700;
}
/* controls width of the large images */
.large-img {
  width: 100%;
}
/* this container holds everything on this page thus this controls the gap between each row or column */
.grid-cont {
  padding: 2rem 0;
  display: grid;
  grid-gap: 6.5rem;
}
.size {
  width: 85%;
  margin: 0 auto;
  max-width: 600px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
nav img {
  width: 28%;
}
nav a {
  color: var(--Light-Pink);
  padding: 0.3em 1.2em;
  border: 1px solid var(--Light-Pink);
  border-radius: 30px;
  box-shadow: 0px 0p 10px hsla(322, 100%, 66%, 0.856);
  background: transparent;
}
/* second section start */
.same {
  display: grid;
  place-items: center;
  grid-gap: 1.8rem;
}
.stats-cont {
  margin: 6.2rem auto;
}
.stats img {
  width: 28px;
  margin-right: 100%;
  /* margin right to push the little images all the way to the left */
}
.stats span {
  display: block;
  font-size: 3.2rem;
  font-weight: 700;
  font-style: var(--fs-body);
}
.stats p {
  opacity: 0.6;
}
/* making space between the two stats under the first large picture */
.stats + .stats {
  margin-top: 5rem;
}
/* increased the grid gap here and thanks to specificity it was possible i increased the grid gap for this section alone to 12rem */

/* grow together start */
.size:nth-of-type(3) > .same {
  grid-gap: 12rem;
  margin: -5rem auto 0 auto;
}
.same__sec3:first-child {
  padding-top: 12rem;
  position: relative;
  background-color: var(--Very-Pale-Blue);
  padding-bottom: 8rem;
}
.same__sec3:last-child {
  background-color: var(--Very-Pale-Blue);
}
.same__sec3:last-child p {
  padding-bottom: 4rem;
}

/* added padding top to the last image in grow together so the curvy bg would appear higher */
.same__sec3:last-child img {
  padding-top: 4rem;
}
/* wavy bg css start */
.custom-shape-divider-top-1623601280 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1623601280 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1623601280 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1623601280 svg {
    width: calc(100% + 1.3px);
    height: 113px;
  }
}

.custom-shape-divider-bottom-1623601478 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1623601478 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1623601478 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1623601478 svg {
    width: calc(153% + 1.3px);
    height: 104px;
  }
}
.same__sec3 svg {
  display: block;
}
/* wavy bg css end */
.size:nth-of-type(3) > .same img {
  width: 70%;
  margin-bottom: 4rem;
}
.size:nth-of-type(3) > .same p {
  margin: 1rem auto;
  width: clamp(70%, 80%, 100%);
}
.size:nth-of-type(3) {
  width: 100%;
  margin-top: -10rem;
  padding-top: 10rem;
}
/* grow together end */
/* newsletter section start */
.b4__myfooter {
  display: grid;
  place-items: center;
  grid-gap: 2rem;
  margin-bottom: 6.5rem;
}

.entire_foot {
  background-color: var(--Very-Dark-Cyan);
  color: #ffffff;
  text-align: left;
  padding: 6rem 0 2rem 0;
}
/* the waves shape */
svg.reduced {
  margin-bottom: -1rem;
}

.entire_foot svg {
  fill: white;
}
.news__letter {
  display: grid;
  grid-gap: 1.3rem;
}
.in-put {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45px 45px;
  grid-gap: 1rem;
}
.in-put input[type="text"] {
  grid-column: 1 / -1;
  grid-row: 1;
  border: none;
  border-radius: 4px;
}
.in-put a {
  background-color: var(--Pink);
  grid-column: 2 / -1;
  grid-row: 2;
  display: grid;
  place-items: center;
  color: white;
  font-weight: 700;
  border-radius: 4px;
}
.huddle {
  display: grid;
  grid-gap: 1.4rem;
  margin-top: 4rem;
}
.huddle img {
  filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(103deg)
    brightness(105%) contrast(105%);
}
.extra {
  display: flex;
}
.extra p,
.extra i + i {
  padding-left: 1rem;
}
.extra i {
  font-size: 2rem;
}
.extra-extra {
  display: grid;
  grid-gap: 1.4rem;
  padding: 1rem 0;
}
