@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/* font-family: 'Open Sans', sans-serif; */

:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
  --fw-large: 700;
  font-size: 16px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (min-width: 550px) {
  :root {
    font-size: 18px;
  }
}
body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: var(--Very-Dark-Cyan);

  padding: 2rem 0 0;
}

/* removed decoration from all anchor tags */
a {
  text-decoration: none;
}
p + a,
h1 + a {
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  padding: 1.4em 4em;
  border-radius: 40px;
  margin: 1rem 0 4rem 0;
  box-shadow: 0px 5px 10px rgba(141, 141, 141, 0.3),
    0px 1px 5px rgba(128, 128, 128, 0.2);
  font-size: 0.9rem;
  font-weight: 700;
}
/* controls width of the large images */
.large-img {
  width: 100%;
}
.same {
  display: grid;
  place-items: center;
  grid-gap: 1.8rem;
}
/* this container holds everything on this page thus this controls the gap between each row or column */
.grid-cont {
  display: grid;
  grid-gap: 6.5rem;
  margin: 0 auto;
}
.size {
  width: 85%;
  max-width: 700px;
  margin: 0 auto;
}
@media screen and (min-width: 550px) {
  .size {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
nav img {
  width: 28%;
}
nav a {
  color: var(--Light-Pink);
  padding: 0.3em 1.2em;
  border: 1px solid var(--Light-Pink);
  border-radius: 30px;
  box-shadow: 0px 0p 10px hsla(322, 100%, 66%, 0.856);
  background: transparent;
}
/* second section start */
.stats-cont {
  margin: 6.2rem auto;
}

.stats img {
  width: 28px;
  margin-right: 100%;
  /* margin right to push the little images all the way to the left */
}
.stats span {
  display: block;
  font-size: 3.2rem;
  font-weight: 700;
  font-style: var(--fs-body);
}
.stats p {
  opacity: 0.6;
}
/* making space between the two stats under the first large picture */
.stats + .stats {
  margin-top: 5rem;
}
@media screen and (min-width: 550px) {
  .stats-cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .stats + .stats {
    margin-top: 0;
  }
  .size:nth-child(2) {
    margin-bottom: 3rem;
  }
}
/* increased the grid gap here and thanks to specificity it was possible i increased the grid gap for this section alone to 12rem */

/* grow together start */
.users {
  display: grid;
  grid-gap: 5rem;
}
.same__sec3 {
  display: grid;
  /* grid-gap: 6rem; */
}
.same__sec3 img {
  width: 85%;
  margin: 0 auto;
}

.texts {
  width: 85%;
  margin: 0 auto;
}
.same__sec3 img {
  padding: 5.5rem 0;
}
.same__sec3 p {
  padding-bottom: 2rem;
}
.first,
.third {
  background-color: var(--Very-Pale-Blue);
  position: relative;
  flex-direction: row-reverse;
}

.first:before,
.first:after,
.third:before,
.third:after {
  width: 100%;
  content: "";
  background-image: url(bg-section-top-mobile-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 19%;
}
.first:after {
  background-image: url(bg-section-bottom-mobile-1.svg);
  top: 100%;
}
.second p {
  margin-bottom: 4rem;
}
.third:before {
  background-image: url(bg-section-top-mobile-2.svg);
  bottom: 17%;
}
.third:after {
  background-image: url(bg-section-bottom-mobile-2.svg);
  top: 100%;
}
@media screen and (min-width: 650px) {
  .users {
    display: grid;
    grid-gap: 5rem;
  }
  .same__sec3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .same__sec3 img {
    width: 40%;
  }

  .texts {
    width: 50%;
    max-width: 600px;
    display: grid;
    grid-gap: 1rem;
  }

  .first,
  .third {
    background-color: var(--Very-Pale-Blue);
    position: relative;
  }

  .first:before,
  .first:after,
  .third:before,
  .third:after {
    width: 100%;
    content: "";
    background-image: url(bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 17%;
  }
  .first:after {
    background-image: url(bg-section-bottom-desktop-1.svg);
    top: 100%;
  }
  .second p {
    margin-bottom: 0rem;
  }
  .third:before {
    background-image: url(bg-section-top-desktop-2.svg);
    bottom: 17%;
  }
  .third:after {
    background-image: url(bg-section-bottom-desktop-2.svg);
    top: 100%;
  }
}
@media screen and (min-width: 650px) {
  .third:after {
    bottom: 20%;
  }
  .third:before {
    background-image: url(bg-section-top-desktop-2.svg);
    bottom: 20%;
  }
}
/* grow together end */
/* newsletter section start */
.b4__myfooter {
  display: grid;
  place-items: center;
  grid-gap: 2rem;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.entire_foot {
  background-color: var(--Very-Dark-Cyan);
  color: #ffffff;
  text-align: left;
  padding: 6rem 0 2rem 0;
  position: relative;
}
.entire_foot:before {
  content: "";
  background-image: url(bg-footer-top-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -6%;
  width: 100%;
  height: 10rem;
}

.my__footer {
  width: 85%;
  margin: 0 auto;
}
.entire_foot svg {
  fill: white;
}
.news__letter {
  display: grid;
  grid-gap: 1.3rem;
}

.in-put {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45px 45px;
  grid-gap: 1rem;
}
.in-put input[type="text"] {
  grid-column: 1 / -1;
  grid-row: 1;
  border: none;
  border-radius: 4px;
}
.in-put a {
  background-color: var(--Pink);
  grid-column: 2 / -1;
  grid-row: 2;
  display: grid;
  place-items: center;
  color: white;
  font-weight: 700;
  border-radius: 4px;
}
.huddle {
  display: grid;
  grid-gap: 1.4rem;
  margin-top: 4rem;
}
.huddle img {
  filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(103deg)
    brightness(105%) contrast(105%);
}
.extra {
  display: flex;
}
.extra p,
.extra i + i {
  padding-left: 1rem;
}
.extra i {
  font-size: 2rem;
}
.extra-extra {
  display: grid;
  grid-gap: 1.4rem;
  padding: 1rem 0;
}
@media screen and (min-width: 650px) {
  .entire_foot {
    background-color: var(--Very-Dark-Cyan);
    color: #ffffff;
    text-align: left;
    padding: 6rem 0 2rem 0;
    position: relative;
  }
  .entire_foot:before {
    content: "";
    background-image: url(bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -14%;
    width: 100%;
    height: 10rem;
  }
  .my__footer {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
  }
  .entire_foot svg {
    fill: white;
  }
  .news__letter {
    display: grid;
    grid-gap: 1.3rem;
    position: relative;
  }
  .footer {
    position: absolute;
    bottom: 100%;
  }
}
